
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-default">


  <!-- Table Select Tab -->
	<ion-tab title="Tafels" icon="icon ion-home" href="#/tab/selectTable">
		<ion-nav-view name="select-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Iets anders" icon="icon ion-home" href="#/tab/ietsAnders">
		<ion-nav-view name="other-tab"></ion-nav-view>
	</ion-tab>

